<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.developerali.aima">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
<!--    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />-->
    <uses-permission android:name="android.permission.CAMERA" />
<!--    <uses-permission android:name="android.permission.RECORD_AUDIO" />-->
<!--    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-sdk android:targetSdkVersion="35" android:minSdkVersion="26"
        tools:overrideLibrary="com.razorpay"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AIMA"
        tools:targetApi="31">
        <activity
            android:name=".HomeBottomBar.AimaGallery"
            android:exported="false" />
        <activity
            android:name=".HomeBottomBar.AimaAdmin"
            android:exported="false" />
        <activity
            android:name=".HomeBottomBar.AimaPosts"
            android:exported="false" />
        <activity
            android:name=".HomeBottomBar.AimaVideos"
            android:exported="false" />
        <activity
            android:name=".HomeBottomBar.AimaPdfs"
            android:exported="false" />
        <activity
            android:name=".Activities.UsagesActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.GalleryActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="i.aima.gallery"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Forms.verifiedBadgeActivity"
            android:exported="false" />
        <activity
            android:name=".Forms.MembershipApply"
            android:exported="false" />
        <activity
            android:name=".Activities.ImageShow"
            android:exported="false" />
        <activity
            android:name=".Activities.MemberShip_Act"
            android:exported="false" />
        <activity
            android:name=".Activities.NotificationAct"
            android:exported="false" />
        <activity
            android:name=".Activities.VideoShow"
            android:exported="false" />
        <activity
            android:name=".Activities.See_Post"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="i.aima.post"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.Comments_Post"
            android:exported="false" />
        <activity
            android:name=".Activities.PostActivity"
            android:exported="true">

            <!-- Handle text data -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>

            <!-- Handle image data -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.EditProfile"
            android:exported="false" />
        <activity
            android:name=".Activities.SignUp"
            android:exported="false" />
        <activity
            android:name=".Activities.Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.ProfileActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="i.aima.profile"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.DonationPage"
            android:exported="false" />
        <activity
            android:name=".Activities.WebViewActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="https"/>
                <data android:host="alpha.jitsi.net"/>
                <data android:scheme="https"/>
                <data android:host="beta.meet.jit.si"/>
                <data android:scheme="https"/>
                <data android:host="meet.jit.si"/>
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <service
            android:name="org.jitsi.meet.sdk.ConnectionService"
            android:exported="true">

            <!-- other service attributes and intent filters -->
        </service>
        <service
            android:name=".JitsiMeetOngoingConferenceService"
            android:exported="false" />

<!--        <activity-->
<!--            android:name=".SplashScreen"-->
<!--            android:exported="true"-->
<!--            android:theme="@style/Theme.Splash.AIMA">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->

<!--            <meta-data-->
<!--                android:name="android.app.lib_name"-->
<!--                android:value="" />-->
<!--        </activity>-->

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.developerali.aima.provider"
            android:exported="false"
            android:grantUriPermissions="true">

            <!-- Link to the file_paths.xml -->
            <meta-data
                android:name="androidx.core.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <receiver
            android:name="com.razorpay.RzpTokenReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="rzp.device_token.share" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.razorpay.CheckoutActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@style/CheckoutTheme"
            tools:replace="android:exported">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <data
                    android:host="rzp.io"
                    android:scheme="io.rzp" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.phonepe.android.sdk.isUAT"
            android:value="true" />
        <meta-data
            android:name="com.phonepe.android.sdk.isSimulator"
            android:value="true" />
        <meta-data
            android:name="com.phonepe.android.sdk.MerchantId"
            android:value="ALLINDIAONLINE" />
    </application>

</manifest>